<div id="client-update-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Client Info</h4>
      </div>
      <div class="modal-body">
        @Html.Partial("StylistDetails/UpdateClientForm")
      </div>
    </div>
  </div>
</div>
