@using HairSalon.Models;
@using HairSalon.ViewModels;
@model IndexModel

@if(Model.AllStylists.Count > 0)
{
  <h2>Employees</h2>
  <div class="list-group">
    @foreach (Stylist stylist in Model.AllStylists)
    {
      <a href="/stylists/@stylist.Id" class="list-group-item">@stylist.Name</a>
    }
  </div>
}
else
{
  <h2>You Have No Employees...</h2>
}
