@using HairSalon.ViewModels;
@model IndexModel

@{
  Layout = "_Layout";
}

<div class="container">
  @Html.Partial("Index/Navbar")
  @Html.Partial("Index/StylistList")
  <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#add-stylist-modal">Add New Employee</button>
</div>

@Html.Partial("Index/AddStylistModal")
