@using HairSalon.ViewModels;
@model StylistDetailsModel

@{
  Layout = "_Layout";
}

<div class="container">
  @Html.Partial("StylistDetails/StylistInfo")
  @Html.Partial("StylistDetails/ClientList")
  <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#add-client-modal">Add Client</button>
</div>

@Html.Partial("StylistDetails/AddClientModal")
