<form action="/stylists/add" method="post">
  <div class="form-group">
    <label for="stylist-name">Name:</label>
    <input class="form-control" id="stylist-name" name="stylist-name" type="text" required>
  </div>
  <div class="form-group">
    <label for="stylist-phone">Phone Number:</label>
    <input class="form-control" id="stylist-phone" name="stylist-phone" type="text" required>
  </div>
  <div class="form-group">
    <label for="stylist-email">Email:</label>
    <input class="form-control" id="stylist-email" name="stylist-email" type="text" required>
  </div>
  <button class="btn btn-success" type="submit" name="submit-button">Add</button>
</form>
